{% extends "base.html" %}
{% block title %} - Math{% endblock %}

{% block scripts %}
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
{% endblock %}

{% block content %}
<h6>Bubble sort</h6>
<ul>
    <li>A comparison based sorting algorithm
        <ul>
            <li>It iterates left to right comparing every couplet, moving the
                smaller element to the left.
            </li>
            <li>It repeats this process until it no longer moves an element to
                the left.
            </li>
        </ul>
    </li>
    <li>Moves one space to the right comparing two elements at a time and moving
        the smaller on to left.
    </li>
</ul>

{% endblock %}
